body, html {
  height: 100%;
  margin: 0;
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}
.bg {
  /* The image used */
  background-image: url("holding_hands");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg2 {
  /* The image used */
  background-image: url("moon");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
 font-family: 'Gooddog';
 src: url('gooddog-plain-regular.ttf');
}

@font-face {
  font-family: 'Monallesia';
  src: url('monallesia-script-regular.ttf');
}

h1.pretty {
  font-family: 'Monallesia';
  padding-right: 90px;
}

h2.pretty {
  font-family: 'Gooddog';
  padding-top: 20px;
  padding-right: 65px;
  padding-bottom: 20px;
}

.style_image {
  padding-right: 50px;
}
