body, html {
  height: 100%;
  margin: 0;
}

.center {
  margin: auto;
  width: 30%;
  text-align: center;
  padding-top: 10px;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}
.bg {
  /* The image used */
  background-image: url("holding_hands");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
