body, html {
  height: 100%;
  margin: 0;
}

p.fancay {
  font-family: 'Gill Sans';
  font-size: 23px;
  color: #F1A5C2
}

p.logo {
  font-family: 'Gill Sans';
  font-weight: bold;
  font-size: 23px;
  color: #651231
}

p.logout {
  font-family: 'Gill Sans';
  font-size: 23px;
  color: #651231
}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}
.bg {
  /* The image used */
  background-image: url("holding_hands.jpeg");

  /* Full height */
  height: 72%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
}

.bg2 {
  /* The image used */
  background-image: url("moon.jpeg");

  /* Full height */
  height: 120%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
}

.bg3 {
  /* The image used */
  background-image: url("cheering_crowd.jpeg");

  /* Full height */
  height: 72%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
}

.bg4 {
  /* The image used */
  background-image: url("weather.jpeg");

  /* Full height */
  height: 72%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -20px;
}

@font-face {
 font-family: 'Gooddog';
 src: url('gooddog-plain-regular.ttf');
}

@font-face {
  font-family: 'Monallesia';
  src: url('monallesia-script-regular.ttf');
}

h1.pretty {
  font-family: 'Monallesia';
  padding-right: 90px;
}

h2.pretty {
  font-family: 'Gooddog';
  padding-top: 15px;
  padding-right: 65px;
  padding-bottom: 20px;
}

h2.bussin {
  font-family: 'Snell Roundhand';
  text-align: center;
  font-size: 80px
}

h2.cool {
  font-family: 'Monallesia';
  text-align: center;
  font-size: 80px
}

p.bussin {
  font-family: 'Apple Chancery';
  text-align: center;
  font-weight: bold;
  text-decoration-style: solid;
  font-size: 28px;
  color: red;
  text-shadow: 2px 2px 5px #F3D6E1;
}

.style_image {
  padding-right: 50px;
}

.container1 {
  margin-left: 5%;
  margin-right: 5%;
}
.carousel-header {
  display: flex;
  justify-content: center;
}
.carousel-header h2 {
  position: relative;
  bottom: 60px;
}

.create-event {
  padding-top: 75px;
  padding-left: 275px;
  padding-right: 275px;
  color: white;
}
.carousel-inner img{  width: 100%;}
.carousel {  height: 450px;}
.carousel-inner {  height: 450px;}

.simple-calendar {
  padding-top: 75px;
  padding-left: 95px;
  padding-right: 95px;
  .calendar-heading {
    text-align: center;
    font-weight: bold;
    font-size: 25px
  }
}

.cards-row {
  padding-left: 20%;
  padding-right: 10%;
}


a {
  color: #6c757d;
}

a:hover {
  color: #fec503;
  text-decoration: none;
}

::selection {
  background: #fec503;
  text-shadow: none;
}

footer {
  padding: 2rem 0;
  background-color: #212529;
}

.footer-column:not(:first-child) {
  padding-top: 2rem;
}
@media (min-width: 768px) {
  .footer-column:not(:first-child) {
    padding-top: 0rem;
  }
}

.footer-column {
  text-align: center;
}
.footer-column .nav-item .nav-link {
  padding: 0.1rem 0;
}
.footer-column .nav-item span.nav-link {
  color: #6c757d;
}
.footer-column .nav-item span.footer-title {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.footer-column .nav-item .fas {
  margin-right: 0.5rem;
}
.footer-column ul {
  display: inline-block;
}
@media (min-width: 768px) {
  .footer-column ul {
    text-align: left;
  }
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #fec503;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: #1a1d20;
}

footer .quick-links {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copyright {
  color: white;
}

.fa-ellipsis-h {
  color: white;
  padding: 2rem 0;
}
