<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title" style="padding-left: 98px">Apis</span>
          </li>
          <div class="col-md-4 box">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <div class="row text-center" style="padding-left: 25px">
                  <a href="https://developer.spotify.com">
                    <i class="fab fa-spotify"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-4 box">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <div class="row text-center" style="padding-left: 25px">
                  <a href="https://developer.ticketmaster.com">
                    <i class="fas fa-ticket-alt"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-md-4 box">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <div class="row text-center" style="padding-left: 25px">
                  <a href="https://www.weatherapi.com/">
                    <i class="fas fa-cloud-showers-heavy"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </ul>
      </div>
      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Contribute</span>
          </li>
          <div class="col-md-4 box">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <div class="row text-center" style="padding-left: 25px">
                  <a href="https://github.com/Love-Rangers">
                    <i class="fab fa-github"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
      </div>
      <div class="col-md-4 footer-column">
        <ul class="nav flex-column">
          <li class="nav-item">
            <span class="footer-title">Contact Us</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto: austinmandrade@gmail.com"><i class="fas fa-envelope"></i>Austin Andrade</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto: brisagarciaglz@gmail.com"><i class="fas fa-envelope"></i>Brisa Garcia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-envelope"></i>Ryan Stemmle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto: kseniya.kudelich@gmail.com"><i class="fas fa-envelope"></i>Kseniya Kudzelich</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto: foymikek@gmail.com"><i class="fas fa-envelope"></i>Michael Foy</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="text-center"><i class="fas fa-ellipsis-h"></i></div>

    <div class="row text-center">
      <div class="col-md-4 box">
        <span class="copyright quick-links">Copyright &copy; Couplistic <script>document.write(new Date().getFullYear())</script>
        </span>
      </div>
      <div class="col-md-4 box">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/austinandrade/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/brisa-garcia-gonzales-6b604385/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/rstemmle/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/michael-foy-707ba7b4/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/kseniyakudzelich/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
