<div class="bg3">
  <h2 class="cool" style="padding: 20px">Date Ideas</h2>
  <div class="cards-row">
    <% unless @events.nil? %>

      <% @events.each do |event| %>
        <div class="card col-sm-6" style="width: 22rem;">
          <%= image_tag(event.poster, border: 0, size: "400x100", class: "card-img-top") %>
          <div class="card-body">
            <h5 class="card-title"><%= event.name %></h5>
            <p class="card-text">Start time: <%= event.start_time %></p>
            <a href="<%= event.url %> class="btn btn-primary"> Buy Tickets</a>
          </div>
        </div>
      <% end %>

    <% else %>
        <p>No events currently</p>
    <% end %>

  </div>
</div>
